.container {
  position: relative;
}

.header {
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.title {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

.titleText {
  color: rgb(31 41 55);
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
  margin: 0;
}

.main {
  padding: 1.25rem 0;
}

.mainContent {
  max-width: 80rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.active {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0px;
  transition: 0.3s linear;
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 40;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
}

.hidden {
  height: 4rem;
  width: 100%;
  z-index: 40;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: -80px;
  transition: 0.3s linear;
}

.floatingHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 50;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.floatingHeader.hideHeader {
  transform: translateY(-120px);
}

.floatingHeader.showHeader {
  transform: translateY(0px);
}

.floatingHeader .bookmark {
  display: flex;
  align-items: center;
}

.floatingHeader .logo {
  height: 2.25rem;
  margin-inline-end: 1rem;
}

.floatingHeader .customize {
  margin: auto;
  padding: 1rem 2rem;
  width: 100%;
}

.floatingHeader .tagRow {
  justify-content: center;
}

.floatingHeader .tags {
  max-width: 80rem;
  border-bottom: none;
}

.customize {
  max-width: 80rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.bookmark {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.btnFilter,
.btnLayout {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  box-sizing: border-box;
}

.btnFilter > button {
  padding: 0.5rem 1rem;
}

.btnLayout > button {
  padding: 0.625rem;
}

.btnLayout > button > span {
  margin-inline-start: unset;
}

.icon {
  font-size: 24px;
}

.tagRow.collapsed {
  display: none;
}

.tagRow {
  display: flex;
  margin-bottom: 0.5rem;
  overflow: hidden;
  position: relative;
}

.tags {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  border-top: 1px solid rgb(209 213 219);
  border-bottom: 1px solid rgb(209 213 219);
}

.tag {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: rgb(255 255 255);
  border: 1px solid rgb(209 213 219);
  border-radius: 9999px;
  padding: 0.375rem 1rem;
  margin: 0.25rem;
  cursor: pointer;
}

.btnLayout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.feed {
  max-width: 80rem;
  margin: auto;
  margin-top: 0.5rem;
  padding: 0.25rem;
  gap: 1.5rem;
  display: flex;
}

.feed.layoutList {
  flex-direction: column;
}

.feed.layoutGrid {
  flex-direction: row;
  flex-wrap: wrap;
}

.cardList {
  width: 100%;
  height: 96px;
}

.cardGrid {
  width: 386.66px;
  height: 185px;
}
