.header {
  background: #ffffff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.navContainer {
  margin: auto;
  max-width: 1216px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.navLeft,
.navLight {
  display: flex;
  align-items: center;
}

.link {
  margin-inline-start: 2.5rem;
}

.logo {
  height: 2.25rem;
}

.customize {
  max-width: 1216px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.bookmarks {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnFilter {
  display: flex;
  align-items: center;
}

.btnLayout {
  align-self: flex-end;
}

.feed {
  max-width: 1216px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  gap: 1.55rem;
}

.card {
  width: 386.66px;
  height: 180px;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card:hover {
  border-color: #38bdf8;
  cursor: pointer;
}
