.nav {
  background: #ffffff;
  height: 65px;
  border-bottom: 1px solid rgb(243 244 246);
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.navLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.navLeft {
  display: flex;
  align-items: center;
}

.logo {
  height: 2.25rem;
}

.links {
  display: inline-flex;
  align-items: center;
  margin-inline-start: 2.5rem;
  column-gap: 32px;
}

.link {
  color: rgb(107 114 128);
  font-size: 0.875rem;
  line-height: 60px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  padding: 0.25rem 0.25rem 0 0.25rem;
}

.link:hover {
  color: rgb(17 24 39);
  cursor: pointer;
  border-bottom-color: rgb(209 213 219);
}

.link.active {
  color: rgb(17 24 39);
  border-bottom-color: rgb(56 189 248);
}

.menu {
  display: flex;
  align-items: center;
  background: transparent;
  outline: none;
  border: none;
  color: rgb(107 114 128);
  font-size: 0.875rem;
}

.menu:hover {
  color: rgb(17 24 39);
  cursor: pointer;
}

.menuIcon {
  margin-inline-start: 0.5rem;
}
